@import url('https://fonts.googleapis.com/css2?family=Combo&family=Ubuntu+Mono:ital@1&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection{
    background-color: yellowgreen;
    color: white;
    text-shadow: none;
}
*::placeholder{
    color: rgb(255, 255, 255, 0.7);
    font-weight: lighter;
    text-shadow: 0px 0px 10px black;
    
}
:root{
    --hfont: 'Combo', cursive,'Ubuntu Mono', monospace;;
    --tfont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --cs_ts: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
    
 #pre-loader{
     width: 100%;
     height: 100vh;
     background-color: white;
     position: fixed;
     top: 0px;
     display: flex;
     align-items: center;
     justify-content: center;
     opacity: 0.7;
     z-index: 999999;
 }
 
 #pre-loader span{
     position: relative;
     width: 75px;
     height: 75px;
     background: linear-gradient(green,  yellowgreen,yellow, yellow, white,white, white,yellow,yellow,yellowgreen, green);
     border-radius: 50%;
     animation: animate 1s linear infinite;
 }
 #pre-loader span::after{
     content: '';
     position: absolute;
     background-color: white;
     top: 10px;
     left: 10px;
     bottom: 10px;
     right: 10px;
     border-radius: 50%;
     
 }
 
 @keyframes animate{
     0%{
         transform: rotate(0deg);
     }
 
     100%{
         transform: rotate(360deg);
     }
 }
 .navbar{
     width: 100%;
     height: 12.5vh;
     background-color: white;
     position: relative;
     display: flex;
     flex-wrap: wrap ;
     align-items: center;
     justify-content: space-between;
 }
    
#logo{
     width: 8em;
     height: 4em;
     padding-left: 4em;
    transition: var(--cs_ts);
}
#logo:hover{
    text-shadow: 0px 0px 2.5px rgba(0,0,0,00.25);
    transform: scale(110%);
    z-index: 1;
}

.nav_container{
    padding: 1em 7.5em;
}

.nav_container ul li a{
    font-size: 1.5em;
    text-decoration: none;
    color: green;
}

.nav_container ul li a:hover{
    cursor: pointer;
    text-decoration: underline yellow 0.15em;
    text-underline-offset: 0.55em;
    text-shadow: 0px 0px 2.5px rgba(0,0,0,0.25);
}

ul{
  list-style: none;
}

.nav_buttons{
    display: flex;
    gap: 1.5em;
}

.main_sect{
    height: 87.5vh;
    background: fixed rgb(149, 149, 149) url("https://media.istockphoto.com/photos/frame-of-fresh-vegetables-on-wooden-background-with-copy-space-picture-id612011684?k=20&m=612011684&s=170667a&w=0&h=Le49Lxt1727ZMe1BXWOX-diGWFER-cIRfZtgPo1LD_Y=") center/100% no-repeat;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
}

.container_1{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-top: 15em;
}

.container_1 h1{
    font-size: 9.5em;
    font-family: var(--hfont);
    color: white;
    text-shadow: 0em 0px 0.1em black;
}

.container_1 div{
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: var(--tfont);
    padding-bottom: 1.5em;
    text-shadow: 0em 0px 5px black;
}

.container_1 button{
    padding: 0.75em 3em;
    background-color: rgba(0,0,0,0);
    color: white;
    border: 0.1em solid white;
    border-radius: 50px;
    font-size: 1.5em;
    transition: 0.25s;
}
.container_1 button a{
    text-decoration: none;
    color: white;
    font-family: var(--tfont);
    transition: var(--cs_ts);
}

.container_1 button:hover{
    cursor: pointer;
    box-shadow: 0 0 5px greenyellow, 0 0 5px greenyellow inset;
    text-shadow: 0 0 5px greenyellow;
}

.second_sect{
    height: 190vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_1{
    width: 85%;
    height: 90%;
    background-color:  white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.grid_1_item{
    background-color: white;
    border-radius: 1em;
    overflow:hidden;
    box-shadow: 0px 0px 50px rgba(0,0,0,00.25);
    transition: var(--cs_ts);
}
.grid_1_item:hover{
    box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
    transform: scale(102%);
    z-index: 1;
}

.grid_1_image{
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#img1{
    background-image: url("https://i.ndtvimg.com/i/2015-11/dragon-fruit_625x350_51448444658.jpg");
}
#img2{
    background-image: url("https://www.treehugger.com/thmb/65-mNNyTr7Z06PU5-Of0GHhIM0Q=/500x0/filters:no_upscale():max_bytes(150000):strip_icc():gifv():format(webp)/slice-of-watermelon-on-a-plate-with-blur-background-1321894238-92e248648cc347d5a87d1a06572cd2fc.jpg");
}
#img3{
    background-image: url("https://assets.epicurious.com/photos/5761cfc58accf290434553a9/master/w_1280,c_limit/steamed-broccoli-with-olive-oil-garlic-and-lemon.jpg");
}
#img4{
    background-image: url("https://img.livestrong.com/630x/clsd/getty/0fac18b881df4eb599808823e2fe003e.jpg?type=webp");
}
#img5{
    background-image: url("https://img.etimg.com/thumb/msid-83390480,width-300,imgsize-176599,,resizemode-4,quality-100/istock-1061097354.jpg");
}
#img6{
    background-image: url("https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_700/MTc0MTgxNTM0MzI3MTIxNDA0/bell-peppers-do-the-different-colors-really-taste-any-different.webp");
}

.grid_1_text h2{
    font-family: var(--hfont);
    padding: 15px 25px;
    font-size: 3em;
}
.grid_1_text div{
    padding: 10px 25px;
    font-family: var(--tfont);
    text-align: justify;
    font-size: 1.25em;
}
.grid_1_button{
    margin-top: 30px;
    margin-left: 25px;
    padding: 10px 25px;
    font-size: 1.25em;
    background-color: yellowgreen;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    color: white;font-family: var(--tfont);
}

a .grid_1_button:hover{
    text-decoration: underline;
}

.third_sect{
    width: 100%;
    height: 40vh;
    background: fixed rgb(149, 149, 149) url("https://media.istockphoto.com/photos/frame-of-fresh-vegetables-on-wooden-background-with-copy-space-picture-id612011684?k=20&m=612011684&s=170667a&w=0&h=Le49Lxt1727ZMe1BXWOX-diGWFER-cIRfZtgPo1LD_Y=") center/100% no-repeat;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third_sect h1{
    font-size: 4em;
    font-family: var(--hfont);
    color: white;
    text-shadow: 0em 0px 0.1em black;
    padding-top: 25px;
}
.third_sect div{
    font-size: 1.5em;
    font-family: var(--tfont);
    color: white;
    text-shadow: 0em 0px 5px black;
}

.fourth_sect{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_container_2{
    width: 75%;
    height: 90%;
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.grid_2_item{
    height: 100%;
    background-color: white;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 0px 50px rgba(0,0,0,00.25);
    transition: var(--cs_ts);
}
.grid_2_item:hover{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    transform: scale(102%);
    z-index: 1;
}

.grid_icon{
    font-size: 3.5em;
    padding-left: 20px;
    padding-top: 8px;
    color: yellowgreen;
 }

.grid_2_item h2{
    font-family: var(--hfont);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    font-size: 1.5em;
}
.grid_2_item p{
    padding: 5px 25px;
    font-family: var(--tfont);
    text-align: justify;
    font-size: 0.85em;
}

.fifth_sect{
    width: 100%;
    height: 75vh;
    background: fixed rgb(149, 149, 149) url("https://media.istockphoto.com/photos/frame-of-fresh-vegetables-on-wooden-background-with-copy-space-picture-id612011684?k=20&m=612011684&s=170667a&w=0&h=Le49Lxt1727ZMe1BXWOX-diGWFER-cIRfZtgPo1LD_Y=") center/100% no-repeat;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 90%;
    height: 50%;
}

.bottom_sect{
    width: 25%;
    height: 100%;
    text-align: justify;
}

.bottom_sect h2{
    font-family: var(--hfont);
    font-size: 2em;
    color: white;
    padding-bottom: 15px;
    text-shadow: 0em 0px 0.1em black;
}
.bottom_sect p{
    font-family: var(--tfont);
    font-size: 0.75em;
    color: white;
    text-shadow: 0em 0px 5px black;
}
.bottom_sect a{
    font-family: var(--tfont);
    font-size: 0.75em;
    text-decoration: none;
    color: white;
    text-shadow: 0em 0px 5px black;
}
.bottom_sect a:hover{
    
    text-decoration: underline;
}
.bottom_sect button{
    padding: 1px 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid white;
    text-align: center;
}
.bottom_sect input{
    padding: 3px 5px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    backdrop-filter: blur(5px);
}

.copy{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy div{
    font-family: var(--tfont);
    color: white;
    padding-left: 15px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
} 
.copy ul{
    display: flex;
    gap: 20px;
    
} 
.copy ul li a{
    font-size: 2em;
    color: white;
    padding-right: 25px;
} 
.copy ul li a i{
    transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
} 
.copy ul li a i:hover{
    text-shadow: 0px 0px 5px rgb(255, 255, 255);;
    transform: scale(150%);
    z-index: 1;
}

#home, #gallery, #about, #footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn i{
    font-size: 5rem;
    text-decoration: none;
    color: rgba(255, 0, 0,0);
    z-index: 3;
    transition: 0.25s ease-in-out;
}
.btn:hover i{
    font-size: 5rem;
    text-decoration: none;
    text-shadow: 0px 0px 15px black;
    color: rgb(255, 255, 255, 0.75);
    z-index: 3;
}

.top_button{
    transform: rotate(270deg);
}

.bottom_button{
    transform: rotate(90deg);
}